* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Lunema';
}

.mainbg {
    width: 100%;
    height: 100vh;
    background-image: url("/public/mainbg.jpg");
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: 699;
}

.top-cover {
    z-index: 10000;
    position: absolute;
    background: #0f0f0f;
    top: 0;
    height: 100vh;
    width: 100%;

    animation-delay: 2s;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0, 1.24, 0.88, 1.22);
    animation-fill-mode: forwards;
    animation-name: topCover;

    @media screen and (max-width: 750px) {
        animation-name: topCover2;
    }

}

@keyframes topCover {
    from {
        height: 100vh;
    }

    to {
        height: 0vh;
    }
}

@keyframes topCover2 {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

.title-page {

    font-size: 1.1rem;

    padding: 0 5vw;

    position: relative;
    z-index: 700;

    height: 100vh;

    font-family: ubuntu;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {

        color: #fff;
        padding: 1rem 0;

        display: flex;
        justify-content: space-between;

        .header-title {
            margin: auto 0;
        }

        .header-link {
            display: flex;

            * {
                color: #fff;
                text-decoration: none;
                margin: auto 20px;
            }
        }

        .navbtn {

            div {
                width: 30px;
                height: 2px;
                background: #fff;
                margin: 10px 0;
            }

            margin-right: 0;
            
        }

    }

    .main-title {

        .title {
            line-height: 1.1;
            color: #fff;
            font-size: 8.4vw;

            .line {
                display: block;
            }

            .down-to-up {
                .word {
                    .word-text {
                        animation-delay: 2s;
                    }
                }
            }

            @media screen and (max-width: 750px) {}

        }

        .hr-line {
            height: 1px;
            background: #fff;
            margin: 2rem 0;
        }

        @media screen and (max-width: 750px) {

            padding: 2rem 0;

            margin-top: auto;
            transform: rotateZ(90 + 90deg);
            writing-mode: vertical-rl;
            margin-left: auto;

            .title {
                font-size: 8vh !important;
            }

            .word-br {
                height: 100%;
            }

            .hr-line {
                height: 100%;
                width: 1px;
                margin: 0;
                margin-right: 1rem;
            }
        }
    }

    @media screen and (max-width: 750px) {
        justify-content: unset;
    }

}

.bold {
    font-weight: bold;
}

.down-to-up {
    flex-wrap: wrap;
    display: flex !important;

    .word {
        display: inline-block;
        overflow: hidden;

        .word-text {
            display: block;
            height: 200%;
            animation-name: example;
            animation-duration: .75s;
            animation-timing-function: ease-out;
            transform: translate(0px, 20%) rotateX(45deg);
            animation-fill-mode: forwards;
        }
    }

    .word-br {
        display: block;
        width: 100%;
    }

    @keyframes example {
        to {
            transform: translate(0px, 0%) rotateX(0deg);
        }
    }

}