* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Lunema';
}

body{
    overflow-x: hidden;
}

.mainbg {
    width: 100vw;
    height: 100vh;
    background-image: url("/public/mainbg.jpg");
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: 699;
}

.top-cover {
    z-index: 10000;
    position: absolute;
    background: #0f0f0f;
    top: 0;
    height: 100vh;
    width: 100%;

    animation-delay: 2s;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0, 1.24, 0.88, 1.22);
    animation-fill-mode: forwards;
    animation-name: topCover;

    @media screen and (max-width: 750px) {
        animation-name: topCover2;
    }

}

@keyframes topCover {
    from {
        height: 100vh;
    }

    to {
        height: 0vh;
    }
}

@keyframes topCover2 {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

.title-page {

    overflow-X: hidden;

    font-size: 1.1rem;

    padding: 0 5vw;

    position: relative;
    z-index: 700;

    height: 100vh;
    width: 100%;

    font-family: ubuntu;

    display: flex;
    flex-direction: column;

    .header {

        color: #fff;
        padding: 1rem 0;

        display: flex;
        justify-content: space-between;

        .header-title {
            margin: auto 0;
        }

        .header-link {
            display: flex;

            * {
                color: #fff;
                text-decoration: none;
                margin: auto 20px;
            }
        }

        .navbtn {
            position: relative;
            height: 50px;
            width: 30px;

            div {
                width: 30px;
                height: 2px;
                background: #fff;
                transition: .4s;
                position: absolute;
                display: block;
                margin: auto;

                &:nth-child(1) {
                    top: 35%;
                }


                &:nth-child(2) {
                    top: 65%;
                    transform: translateY(-100%);
                }
            }

            &.active {

                div {
                    &:nth-child(1) {
                        top: 50%;
                        transform: rotateZ(45deg);
                    }

                    &:nth-child(2) {
                        top: 50%;
                        transform: rotateZ(-45deg);
                    }
                }
            }

            margin-right: 0;

        }

        transform: translateY(200%);
        opacity: 0;
        animation-name: headerAni;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: 2.4s;
        animation-timing-function: ease-out;

        @media screen and (max-width: 750px) {
            transform: translateX(50%);
        }

        @keyframes headerAni {
            to {
                transform: translate(0, 0);
                opacity: 1;
            }
        }

    }

    .main-title {

        margin-top: auto;

        .title {
            line-height: 1.1;
            color: #fff;
            font-size: 9.6vw;

            .line {
                display: block;
            }

            .down-to-up {
                .word {
                    .word-text {
                        animation-delay: 2s;
                    }
                }
            }

        }

        .hr-line {
            height: 1px;
            background: #fff;
            margin: .5rem 0;
        }

        @media screen and (max-width: 750px) {

            margin-top: auto;
            transform: rotateZ(90 + 90deg);
            writing-mode: vertical-rl;
            margin-left: auto;

            .title {
                font-size: 7vh !important;
                padding: 2rem 0;
            }

            .word-br {
                height: 100%;
            }

            .hr-line {
                height: 100%;
                width: 1px;
                margin: 0;
                margin-right: 1rem;
            }
        }
    }

    .hr-line-main {
        height: 1px;
        background: #fff;
        margin: 0;
        margin-bottom: .5rem;
        display: none;

        @media screen and (max-width: 750px) {
            display: unset;
        }
    }

    .sec-title {
        color: #fff;
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        flex-wrap: wrap;

        .mail {
            text-decoration: underline;
        }

        .scroll {
            font-style: italic;
            opacity: .5;
        }

        .down-to-up {
            .word {
                .word-text {
                    animation-delay: 1.9s;
                }
            }
        }
    }

    @media screen and (max-width: 750px) {
        justify-content: unset;
    }

}

.bold {
    font-weight: bold;
}

.down-to-up {
    flex-wrap: wrap;
    display: flex !important;

    .word {
        display: inline-block;
        overflow: hidden;

        .word-text {
            display: block;
            height: 200%;
            transform: translate(0px, 20%) rotateX(45deg);
            animation-name: downToUp;
            animation-duration: .75s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }

    }

    &.down-to-up-alt {
        .word {
            .word-text {
                @media screen and (max-width: 750px) {
                    width: 200%;
                    height: 100%;
                    transform: translate(-20%, 0%) rotateY(45deg);
                    animation-name: downToUp2;
                }
            }
        }
    }

    .word-br {
        display: block;
        width: 100%;
    }

    @keyframes downToUp {
        to {
            transform: translate(0px, 0%) rotateX(0deg);
        }
    }

    @keyframes downToUp2 {
        to {
            transform: translate(0px, 0%) rotateY(0deg);
        }
    }

}

.no-md {
    @media screen and (max-width: 750px) {
        display: none !important;
    }
}